[defaults]
inventory = ./inventory/inventory.yml
host_key_checking = false
display_skipped_hosts = false
deprecation_warnings = false

[persistent_connection]
ssh_type = paramiko

[paramiko_connection]
host_key_auto_add = true
look_for_keys = false